  body {
      background-color: #eeeff1;
  }

  /* Navbar */

  #dashboard {
      color: #fff;
      background-color: #1a1b1f;
      border-radius: 8px;
      border-style: hidden;
      transition: border-radius 1s;
  }

  @media(max-width:767px) {
      #dashboard {
          color: #fff;
          width: fit-content;
          background-color: #1a1b1f;
          border-radius: 8px;
          border-style: hidden;
          transition: border-radius 1s;
      }
  }

  #dashboard:hover {
      border-radius: 15px;
  }

  .navbar-brand {
      color: #1a1b1f;
      padding-left: 5px;
  }

  .navbar {
      padding: 20px;
      z-index: 1;
  }

  .nav-link {
      margin-right: 15px;
  }

  .animate__animated.animate__fadeInDown {
    --animate-duration: 0.7s;
  }

  .socials {
      position: fixed;
      top: auto;
      right: 0;
      bottom: 0;
      z-index: 100;
      display: flex;
      padding-right: 30px;
      padding-bottom: 30px;
      flex-direction: column;
  }

  .social-icon {
      position: sticky;
      padding-top: 17px;
  }

  /* About */

  #intro-row {
      margin-top: 120px;
      margin-bottom: 140px;
      margin-left: 50px;
  }

  @media(max-width:767px) {
      #intro-row {
          margin-top: 0px;
          margin-bottom: 140px;
          margin-left: 0px;
      }
  }

  .pic-rounded {
      border-radius: 15px;
  }

  /* index */
  #text-one {
      margin-left: 50px;
      margin-bottom: 50px;
  }
  .gradient-container {
      position: absolute;
      top: 70px;
      right: 250px;
      overflow: hidden;
      max-width: 1100px;
      opacity: 0.8;
      z-index: 0;
  }
  .gradient-animation {
      position: static;
      -webkit-animation: spin 30s linear infinite;
      -moz-animation: spin 30s linear infinite;
      animation: spin 30s linear infinite;
  }
  @-moz-keyframes spin {
      100% {
          -moz-transform: rotate(360deg);
      }
  }
  @-webkit-keyframes spin {
      100% {
          -webkit-transform: rotate(360deg);
      }
  }
  @keyframes spin {
      100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  @media(max-width:767px) {
      .pic-ict {
          display: none;
      }
  }
  /* Text sizes */

  .heading-big {
      margin-top: 10px;
      margin-bottom: 10px;
      color: #1a1c20;
      font-size: 80px;
      line-height: 90px;
      font-weight: 500;
      position: relative;
  }

  .text-big {
      color: #000;
      font-size: 25px;
      font-weight: 300;
  }

  .heading-medium {
      margin-top: 10px;
      margin-bottom: 10px;
      color: #1a1c20;
      font-size: 44px;
      font-weight: 500;
  }

  .text-medium {
      color: #000;
      font-size: 20px;
      font-weight: 300;
      margin-right: 50px;
  }

  .text-gray {
      margin-top: 25px;
      line-height: 46px;
      font-size: 26px;
      color: #62646d;
      position: relative;
  }

  .btn-outline-dark {
      margin-top: 30px;
      margin-right: 10px;
      margin-bottom: 40px;
      padding-left: 10px;
      padding-right: 10px;
      border: 1px solid #ced1df;
      border-radius: 8px;
      font-size: 16px;
      line-height: 39px;
      font-weight: 500;
      letter-spacing: 1px;
  }

  /* .col {

      border-color: blue;
      border-width: 5px;
      border-style: solid;
  } */