h1 {
    color: blue;
  }

  body {
    background-color: #eeeff1;
  }

  /* Navbar */
  .btn {
      color: #fff;
      background-color: #1a1b1f;
      border-radius: 8px;
      border-style: hidden;
      transition: border-radius 1s;
  }
  @media(max-width:767px){
    .btn {
        color: #fff;
        width:fit-content;
        background-color: #1a1b1f;
        border-radius: 8px;
        border-style: hidden;
        transition: border-radius 1s;
    }
  }
  .btn:hover {
      border-radius: 15px;
  }
  .navbar-brand {
      color: #1a1b1f;
      padding-left: 5px;
  }
  .navbar {
      padding: 20px;
  }
  .nav-link {
    margin-right: 15px;
  }

  .socials {
      position: fixed;
      top: auto;
      right: 0;
      bottom: 0;
      z-index: 100;
      display: flex;
      padding-right: 30px;
      padding-bottom: 30px;
      flex-direction: column;
  }
  .social-icon {
      position: sticky;
      padding-top: 17px;
  }